.container {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 12px;
}

.header {
    /* background-color: #ffeeb1; */
    background-image: url("../images/Hero_BG.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 38px 30px 235px 30px;
    background-color: #845c5c;

    /* padding-top: 38px;
    padding-bottom: 235px; */
}

.nav {
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    order: 2;
    color: #fff;
    font-size: 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;

    margin-bottom: 115px;
}

.controls_link {
    display: block;
    text-align: center;
    padding: 10px 15px;
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
}

.sign-up {
    border: 2px solid #fff;
    border-radius: 2rem;
}

.hero {
    text-align: center;
    margin-top: 160px;
}

.hero_title {
    text-transform: uppercase;
    color: #fff;
    font-size: 52px;
    font-weight: bold;
}

.hero_text {
    color: #fff;
    font-weight: 300;
    font-size: 24px;
}

.find {
    padding: 10px 20px;

    color: #fff;
    background-color: #FF4E50;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 2rem;
}

/* /header */

/* Partners */
.partners {
    padding-top: 70px;
    padding-bottom: 136px;
}

.title {
    text-align: center;    
    margin-bottom: 46px;
}

.card-list {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 12px;
}

.card {
    width: 100%;
}

.card_images {
    display: block;
    position: relative;
    width: 124px;
    margin: 0 auto;
}

img {
    /* max-width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
    object-position: center; */

    max-width: 100%;
    height: auto;
    display: block;
}

.container_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    right: 0;
    bottom: 0;

    width: 42px;
    height: 42px;
    border: 4px solid #FFFFFF;
    border-radius: 50%;
}

.card_icon {
 display: block;
}

.icon_red {
    background-color: #FF4E50;
}

.icon_green {
    background-color: #1CD7AD;
}

.icon_yellow {
    background-color: #FFA507; 
}

.icon_blue {
    background-color: #4E73DB;
}

.card_name {
    font-size: 16px;
    text-align: center;
}

.card_text {
    max-width: 100%;
    text-align: center;
}

.container_see {
    text-align: center;
    max-width: 100%;
}

.see {
    padding: 10px 20px;

    color: #FF4E50;
    background-color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #FF4E50;
    border-radius: 2rem;
}

/* /Partners */

@media (min-width: 320px) {
    .nav    {
        flex-direction: row;
    }

    .card-list {
        grid-template-columns: repeat(2, 1fr);
    }
      
    #one{
        order: 1;
    }
    #two{
        order: 3;
    }
    #three{
        order: 2;
    }
    #four{
        order: 4;
    }
}

@media (min-width: 768px) {
    .hero{
        margin-top: 100px;
      }

    .card-list {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 471px) {
    .logo {
        order: 1;
    }
    
    .controls {
        margin: 0;
        order: 2;
    }
}

@media (max-width: 470px) {
    .header {
        padding: 38px 30px 235px 30px;  
      }

    .nav {
        flex-direction: column;
    }

    .hero{
        margin-top: 25px;
      }
    
    .hero_title {
       font-size: 42px;
    }

    .hero_text {
        font-size: 18px;
    }
}

@media (max-width: 320px) {
    .card-list {
        grid-template-columns: repeat(1, 1fr);
    }
}